{% extends "base_generic.html" %}

{% block content %}
  {{ question.subject }}
  <hr>
  {{ question.content }}
  <hr>
  {{ question.post_date }}
  <hr>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <input type="submit" name="update_question" value="Update"
        onclick="return confirm('Sure to save?');"/>
      <input type="submit" name="delete_question" value="Delete"
        onclick="return confirm('Sure to Delete?');"/>
    </div>
  </form>

{% endblock %}
