<!DOCTYPE html>
<html lang='en'>
  <head>
    {% block title %}<title></title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block style %}
    {% endblock %}

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </head>

  <body>

    <nav> <!-- side nav bar -->
      <ul>
        <li id="test"><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'submit-question' %}">Ask us a question</a></li>
        <li><a href="{% url 'index' %}">All Questions</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Report Cheating</a></li>
        <li><a href="">UCSD's Policy on Academic Integrity</a></li>
      </ul>
    </nav>

    <header> <!-- Filters and search bars -->

    </header>

    <main> <!-- main display of all informations -->

      {% block content %}{% endblock %}

    </main>

    <footer> <!-- developer info-->

    </footer>

    {% block script %}
    {% endblock %}
  </body>
</html>
